<my-dashboard-menu></my-dashboard-menu>

<!-- Article main content -->
<article class="col-md-10 maincontent">

    <div class="panel panel-default" *ngIf="user">
        <div class="panel-body">

            <my-projectnew></my-projectnew>

            <hr />

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Лого</th>
                        <th>Название</th>
                        <th>Описание</th>
                        <th>Статус</th>
                        <th>Действия</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let project of projects">
                        <tr>
                            <td><img src="{{projectService.getLogoUrl(project)}}" class="table-row-image-30" /></td>
                            <td>{{project.title}}</td>
                            <td>{{project.description.length > 25 ? (project.description | shorten) : project.description}}</td>
                            <td>{{project.status}}</td>
                            <td>
                                <button *ngIf="openEditors.indexOf(project.id) === -1" type="button" class="btn btn-default" (click)="openEditors.push(project.id); false">Изменить</button>
                                <button *ngIf="openEditors.indexOf(project.id) > -1" type="button" class="btn btn-default" (click)="openEditors.splice(openEditors.indexOf(project.id), 1); false" >Отмена</button>
                            </td>
                        </tr>
                        <tr *ngIf="openEditors.indexOf(project.id) > -1">
                            <td colspan="4">
                                <my-projectedit #editor [projectId]="project.id"></my-projectedit>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>

            <my-pagination [criteria]="criteria" [radius]="1" [aria]="'Пагинация проектов'"></my-pagination>

        </div>
    </div>
</article>