<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="top-margin form-group animated fadeIn has-feedback" [ngClass]="{
                    'has-error': validator().email_has_error,
                    'has-success': validator().email_has_success
                    }">
        <label>Email <span class="text-danger">*</span></label>
        <input type="text" class="form-control" formControlName="email">
        <span *ngIf="validator().email_error_required" class="help-block animated fadeInDown">Email не может быть пустым</span>
        <span *ngIf="validator().email_error_email" class="help-block animated fadeInDown">Введите действительный email</span>
        <span *ngIf="validator().email_show_remove || validator().email_show_ok" [ngClass]="{
                            'glyphicon-remove':validator().email_show_remove,
                            'glyphicon-ok':validator().email_show_ok
                            }" class="glyphicon form-control-feedback animated fadeIn" aria-hidden="true"></span>
    </div>

    <hr>

    <div class="row animated fadeIn">
        <div class="col-lg-6">
            <b><a routerLink="/signin">Назад</a></b>
        </div>
        <div class="col-lg-6 text-right">
            <button id="resetpasswordrequest_component_resetpasswordrequestButton" autocomplete="off" data-loading-text="<i class='fa fa-spinner fa-spin fa-fw'></i>" class="btn btn-action" type="submit" [disabled]="!form.valid">Сбросить пароль</button>
        </div>
    </div>
</form>