<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="top-margin form-group animated fadeIn has-feedback" [ngClass]="{
                    'has-error': validator().token_has_error,
                    'has-success': validator().token_has_success
                    }">
        <label>Кодовая фраза из письма <span class="text-danger">*</span></label>
        <input type="text" class="form-control" formControlName="token">
        <span *ngIf="validator().token_error_required" class="help-block animated fadeInDown">Кодовая фраза не может быть пустой</span>
        <span *ngIf="validator().token_show_remove || validator().token_show_ok" [ngClass]="{
                            'glyphicon-remove':validator().token_show_remove,
                            'glyphicon-ok':validator().token_show_ok
                            }" class="glyphicon form-control-feedback animated fadeIn" aria-hidden="true"></span>
    </div>

    <div class="top-margin form-group animated fadeIn has-feedback" [ngClass]="{
                    'has-error': validator().password_has_error,
                    'has-success': validator().password_has_success
                    }">
        <label>Новый пароль <span class="text-danger">*</span></label>
        <input type="password" class="form-control" formControlName="password">
        <span *ngIf="validator().password_error_required" class="help-block animated fadeInDown">Новый пароль не может быть пустым</span>
        <span *ngIf="validator().password_error_minlength" class="help-block animated fadeInDown">Минимальная длинна нового пароля - {{control_password.errors.minlength.requiredLength}}</span>
        <span *ngIf="validator().password_error_passwordsAreEqual" class="help-block animated fadeInDown">Пароль и подтверждение пароля должны совпадать</span>
        <span *ngIf="validator().password_show_remove || validator().password_show_ok" [ngClass]="{
                            'glyphicon-remove':validator().password_show_remove,
                            'glyphicon-ok':validator().password_show_remove
                            }" class="glyphicon form-control-feedback animated fadeIn" aria-hidden="true"></span>
    </div>

    <div class="top-margin form-group animated fadeIn has-feedback" [ngClass]="{
                    'has-error': validator().confirmpassword_has_error,
                    'has-success': validator().confirmpassword_has_success
                    }">
        <label>Новый пароль ещё раз <span class="text-danger">*</span></label>
        <input type="password" class="form-control" formControlName="confirmpassword">
        <span *ngIf="validator().confirmpassword_error_required" class="help-block animated fadeInDown">Подтверждение нового пароля не может быть пустым</span>
        <span *ngIf="validator().confirmpassword_error_minlength" class="help-block animated fadeInDown">Минимальная длинна подтверждения нового пароля - {{control_confirmpassword.errors.minlength.requiredLength}}</span>
        <span *ngIf="validator().confirmpassword_error_passwordsAreEqual" class="help-block animated fadeInDown">Пароль и подтверждение пароля должны совпадать</span>
        <span *ngIf="validator().confirmpassword_show_remove || validator().confirmpassword_show_ok" [ngClass]="{
                            'glyphicon-remove':validator().confirmpassword_show_remove,
                            'glyphicon-ok':validator().confirmpassword_show_remove
                            }" class="glyphicon form-control-feedback animated fadeIn" aria-hidden="true"></span>
    </div>

    <hr>

    <div class="row animated fadeIn">
        <div class="col-lg-6">
            <b><a routerLink="/signin">Вход</a></b>
        </div>
        <div class="col-lg-6 text-right">
            <button id="resetpasswordverification_component_resetpasswordverificationButton" autocomplete="off" data-loading-text="<i class='fa fa-spinner fa-spin fa-fw'></i>" class="btn btn-action" type="submit" [disabled]="!form.valid">Подтвердить</button>
        </div>
    </div>
</form>